@import 'variables';

/*=============================================================
Global
=============================================================*/
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

  
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: "Century Gothic", Futura, sans-serif;
  margin: 0px;
  color: $dark;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: medium;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}

li, ol, ul {
  list-style: none;
  padding: 0;
}

a, body, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.section{
  padding-top: 165px;
  padding-bottom: 85px;
  padding-left: 30px;
  padding-right: 30px;
}

/*=============================================================
Top Menu
=============================================================*/
.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 94px;
  min-width: 1000px;
  overflow: hidden;
  z-index: 9999;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  -ms-overflow-style: none;

  .wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
    margin-right: 25px;

    a{
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: .05em;
      padding: 25px;
      text-decoration: none;
    }
  }
}


/*=============================================================
Home
=============================================================*/
.home{
  background-color: $principal;
  height: 100vh;
  display: block;
}

.bgVideo{
  position: absolute;
  top: 0;
  height: 100vh;
  -webkit-transform: translateZ(-100px);
  transform: translateZ(-100px);
  z-index: 1;

  .bgVideoInner{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
  }
}

/*=============================================================
Projects
=============================================================*/
.projects{
  display: flex;
  flex-wrap: wrap;

  .project{
    width: 32%;
    padding: 2%;
  }
}